@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:root {
    --color-white: #ffffff;
    --color-blue-950: #172554;
    --color-gray-900: #111827;
    --underline-height: 1px;
    --underline-spacing: 0.75em;
}

@font-face {
    font-family: "Tektur";
    /*src: url("/steel/font/Tektur.woff2") format("woff2");*/
    src: url("/font/Tektur.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.font-tektur {
    font-family: "Tektur", Arial, Helvetica, sans-serif;
}

.bg-underline {
    @apply bg-gradient-to-r from-current to-current
    bg-no-repeat
    [background-position:left_bottom_var(--underline-spacing)]
    [background-size:0_var(--underline-height)]
    hover:[background-size:100%_var(--underline-height)]
    transition-[background-size] duration-300 ease-out
    pb-[var(--underline-spacing)] -mb-1;
}

.bg-underline-hover {
    @apply bg-gradient-to-r from-current to-current
    bg-no-repeat
    [background-position:left_bottom_var(--underline-spacing)]
    [background-size:100%_var(--underline-height)]
    hover:[background-size:0_var(--underline-height)]
    transition-[background-size] duration-300 ease-out
    pb-[var(--underline-spacing)] -mb-1;
}

.outlined-heading {
    @apply text-blue-300
    [text-shadow:-1px_-1px_0_var(--color-blue-950),1px_-1px_0_var(--color-blue-950),-1px_1px_0_var(--color-blue-950),1px_1px_0_var(--color-blue-950)]
    supports-[-webkit-text-stroke:1px_var(--color-blue-950)]:[-webkit-text-stroke:1px_var(--color-blue-950)]
    supports-[-webkit-text-stroke:1px_var(--color-blue-950)]:[-webkit-text-fill-color:var(text-white)]
    supports-[-webkit-text-stroke:1px_var(--color-blue-950)]:[text-shadow:none]
    dark:text-gray-900
    dark:[text-shadow:-1px_-1px_0_var(--color-white),1px_-1px_0_var(--color-white),-1px_1px_0_var(--color-white),1px_1px_0_var(--color-white)]
    dark:supports-[-webkit-text-stroke:1px_var(--color-white)]:[-webkit-text-stroke:1px_var(--color-white)]
    dark:supports-[-webkit-text-stroke:1px_var(--color-white)]:[-webkit-text-fill-color:var(--color-gray-900)]
    dark:supports-[-webkit-text-stroke:1px_var(--color-white)]:[text-shadow:none];
}

.carousel-slide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.carousel-slide.active {
    opacity: 1;
    transform: translateX(0);
}
.carousel-slide.next {
    opacity: 0;
    transform: translateX(100%);
}
.carousel-slide.prev {
    opacity: 0;
    transform: translateX(-100%);
}
.carousel-slide:not(.active) {
    opacity: 0;
}