@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.carousel-slide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.carousel-slide.active {
    opacity: 1;
    transform: translateX(0);
}
.carousel-slide.next {
    opacity: 0;
    transform: translateX(100%);
}
.carousel-slide.prev {
    opacity: 0;
    transform: translateX(-100%);
}
.carousel-slide:not(.active) {
    opacity: 0;
}